.custom-button {
  background-color: #0d1120; /* Default for non-outlined variant */
  height: var(--button-height);
  width: var(--button-width);
  margin-left: 8px;
  position: relative;
  border-radius: 100px;
  padding: 10px;
  font-weight: 400;
  border: 1px solid black;
  text-transform: capitalize;
  color: #ffffff; /* Default for non-outlined variant */
  font-size: 12px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.custom-button.outlined {
  background-color: #ffffff;
  color: #0d1120;
}

.custom-button:hover {
  background-color: #ffffff;
  border-color: #1cbcba;
  color: #1cbcba;
}

.custom-button.outlined:hover {
  background-color: #1cbcba;
  border: 2px solid transparent;
  color: #ffffff;
}

@media (min-width: 960px) {
  .custom-button {
    font-size: 14px;
    padding: 10px 30px;
  }
}
